/* Clientes */
@import 'variables';

#clientes {
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
        strong {
        color: $color2;
        }
    }
}

#clientes {
    p {
        color: $color2;
        text-align: center;
    }
}
/* Fin Clientes */