/* Clientes */
@import 'variables';

#clientes {
    h2 {
        strong {
        color: $color2;
        }
    }
}

#clientes {
    p {
        color: $color2;
        text-align: center;
    }
} 
/* Fin Clientes */