/* Contacto */
@import 'variables';

#contacto {
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
        strong {
        color: $color1;
        }
    }
}#contacto {
    p {
        text-align: center;
    }
} 
/* Fin Contacto */
