/* Inicio */
@import 'variables';
#inicio {
    div {
        div {
            h1 {
                background-color: $color1;
                padding-left: 5px;
                padding-right: 5px;
                strong {
                    font-weight: 700;
                    font-size: 70px;
                    color: $color2;
                }
            }
        }
    }
}

#inicio {
    div {
        div {
            p {
                font-size: 20px;
                color: $color4;
            }
        }
    }
}

#inicio {
    div {
        div {
            button {
                background-color: $color1;
                border: none;
                padding-left: 25px;
                padding-right: 25px;
                a {
                    text-decoration: none;
                    color: $color2;
                    font-size: 25px;
                }
            }
        }
    }
}
/* Fin Inicio */